<h1><%= post.title %></h1>
<p><%= post.content %></p>

<h2>Welcome <%= name %></h2>

<% if (isAuthenticated) { %>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">LOG OUT</button>
    </form>
<% } else { %>
    <a href="/login">Login</a> | <a href="/register">Register</a>
<% } %>


