<% layout('partials/layout') %>

<h2><%= post.title %></h2>

<p><%= post.content %></p>

<h3>Welcome <%= name %></h3>

<% if (isAuthenticated) { %>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
<% } else { %>
    <p><a href="/login">Login</a> or <a href="/register">Register</a> to interact.</p>
<% } %>
