<% layout('partials/layout') %>

<h2>Welcome <%= name %></h2>

<p>This is your dashboard. You are logged in.</p>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>
